
 <div style="height: 100%; margin-top: -29px; position: fixed; margin-left: 12px"  >
	<ul id="slide-out" class="side-nav fixed" style="position: relative; padding-bottom: 100%; height: 5000px; width: auto">
		<li><div class="user-view">
			<div class="background">
				<img src="http://www.apertura.com/__export/1494947239837/sites/revistaap/img/2017/05/16/manager_fondo_inveresion.jpg">
			</div>
			<a ><img class="circle" src="https://icon-icons.com/icons2/1144/PNG/512/user_80789.png"></a>
			<a ><span class="white-text name">Proyecto: {{proyecto.name}}</span></a>
			<a ><span class="white-text email">{{email}}</span></a>
		</div></li>
	<li><a [routerLink]="['preview']"><i class="material-icons">pageview</i>Preview</a></li>
		<li><a [routerLink]="['stakeholder']"><i class="material-icons">chevron_right</i>Stakeholders</a></li>
		<li><a [routerLink]="['goal']"><i class="material-icons">chevron_right</i>Goals</a></li>
		<li><a [routerLink]="['softgoal']"><i class="material-icons">chevron_right</i>Softgoals</a></li>
		<li><a [routerLink]="['nfr']"><i class="material-icons">chevron_right</i>NF-Requeriments</a></li>
	</ul>

 </div>
 <div class="col s9 l9 m9 offset-s3 offset-m3 offset-l3" style="margin-top: 25px; margin-left: 17%">
  <router-outlet></router-outlet>
 </div>

